@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{    
    font-family:'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

section{
    text-align: center;
    padding: 48px;
    border-bottom: 1px solid #c0bdbd;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 400px;
}
h2{
    font-size: 48px;
    margin: 8px 0;
}
/*Início do Menu de navegação*/
header{
    background-color: #4287f5;
    padding: 24px;
}

nav.menu > ul{
    display: flex;
    gap: 48px;
}
nav.menu li{
    list-style-type: none;
}
nav.menu li > a{
    color: #fcfcfc;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav.menu li > a:hover{
    color: orange;
    text-decoration: underline;
}

/*Fim do Menu de navegação*/

/*Início da estilização do início*/
/*Flexbox*/

section#inicio{
    flex-direction: row-reverse;

}
/*fim da estilização do início*/

/*Início da estilização da section Quem Somos*/
section#quem-somos {
    gap: 48px;   
}
section#quem-somos > div{
    text-align: left;
    width: 60%;
}
section#quem-somos > img{
    width: 40%;
}
/*Fim da estilização da section Quem Somos*/

/*Início da estilização da section Planos*/

section#planos{
    flex-direction: column;
    padding: 48px 0;
}

/*Fim da estilização da section Planos*/

/*Estilização básica da tabela*/
table{
   width: 70%;
}
table, td, th{
    border-collapse: collapse;
    border: 1px solid #ccc;
}
/*Estilização para as células (th e td)*/
th, td{
    padding: 12px;
    
}
/*float button WhatsApp*/
.box-fixed{
    position: fixed;
    bottom: 60px;
    right: 80px;
    width: 30px;
    height: 50px;
    z-index: 1000;
}
#wpp-logo{
    width: 100px;
}

button.botao{
    padding: 18px 48px;  
    border-radius: 48px;
    border: 1px solid #4287f5;
    background-color: #4287f5;
    color: white;
    font-size: 16px;
    margin: 24px 0;
}
button.botao:hover{
    font-weight: bold;
    background-color: aqua;
    cursor: pointer;
}

footer{
    padding: 24px;
}
footer > p {
    text-align: center;
    font-size: 14px;
    color: grey;
}








